@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&family=Titillium+Web&display=swap');


*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f0e8e8;
    overflow-x: hidden;
}

li{
    list-style: none;
}

.img-card{
    margin-left: 3.5em;
    width: 200px;
}

.img-card:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.carta{
    width: 25vw;
}

.carta-header{
    justify-content: center;
    width: 25vw;
}

.carta-body{
    width: 25vw;
}

.carta-body:hover{
    background-color: grey;
}

h2{
    font-size: 23px;
    color: #f0e8e8;
    text-align: center;
}

h1{
    text-align: center;
    margin-top: 2em;
    font-weight: bold;
    margin-bottom: 2em;
}

a{
    text-decoration: none;
}

.img-about{
    width: 15vw;
    height: 15vw;
}

#card-nos{
    margin-bottom: 2em;
}